body {
    background: linear-gradient(120deg, #12002f, #240046);
    color: #e0aaff;
}

h1 {
    color: #ff4dff;
    text-shadow: 0 0 10px #ff00ff;
}

button {
    background: #7b2cbf;
    color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px #c77dff;
}
